<h2>
  <span *ngIf="this.id">Edit book</span>
  <span *ngIf="!this.id">Add a new book</span>
</h2>

<form #thisForm="ngForm">
  <div class="form-group row">
    <label for="firstname" class="col-sm-2 required">First Name</label>
    <input [(ngModel)] = "book.authorFirst" type="text" required class="form-control col-sm-7" id="firstname" name="firstname" placeholder="Enter first name">
  </div>

  <div class="form-group row">
    <label for="lastname" class="col-sm-2 required">Last Name</label>
    <input [(ngModel)] = "book.authorLast" type="text" class="form-control col-sm-7" id="lastname" name="lastname" placeholder="Enter last name" required>
  </div>

  <div class="form-group row">
    <label for="isbn" class="col-sm-2 required">ISBN</label>
    <input [(ngModel)] = "book.isbn" #isbn="ngModel" type="text" class="form-control col-sm-7" id="isbn" name="isbn" placeholder="Enter isbn" required appIsbn>
    <div class="col-sm-3" [hidden]="isbn.valid">
       Invalid ISBN
       <ng-template #isbnExplanation>{{isbn.errors.isbn.message}}</ng-template>
       <!-- <ng-template #isbnExplanation>{{isbn.errors.message}}</ng-template> -->
       <a [ngbTooltip]="isbnExplanation" class="btn btn-outline-danger" placement="bottom">Why?</a>
    </div>
  </div>

  <div class="form-group row">
    <label for="title" class="col-sm-2 required">Title</label>
    <input [(ngModel)] = "book.title" type="text" class="form-control col-sm-7" id="title" name="title" placeholder="Enter title" required>
  </div>

  <div class="form-group row">
    <label for="year" class="col-sm-2 required">Year</label>
    <input type="number" [(ngModel)] = "book.year" class="form-control col-sm-7" id="year" name="year" placeholder="Enter year" required>
  </div>

  <div class="form-group row">
    <label for="publisher" class="col-sm-2">Publisher</label>
    <input type="text" [(ngModel)] = "book.publisher" class="form-control col-sm-7" id="publisher" name="publisher" placeholder="Enter publisher">
  </div>

  <div class="form-group row">
    <label for="password" class="col-sm-2 required">Password</label>
    <input type="password" [(ngModel)] = "password" class="form-control col-sm-7" id="password" name="password" placeholder="Enter password" required appPassword="Aa1!" #passwordField="ngModel">
  </div>

   <div class="row" *ngIf="passwordField.errors && passwordField.errors.passsword">
     <div class="col-12">{{passwordField.errors.password.message}}</div>
   </div>

  <button class="btn btn-primary" (click)="addNewBook()" [disabled]="thisForm.invalid">
    <span *ngIf="!this.id">Add new book</span>
    <span *ngIf="this.id">Edit book information</span>
  </button>

  <div *ngIf="statusMessage" class="alert mt-3" [ngClass]="{'alert-danger': state === 'error', 'alert-primary': state === 'updating'}">
    <p>{{statusMessage}}</p>
  </div>
</form>
