<div class="form-group">
  <label for="firstname">First Name</label>
  <input [(ngModel)] = "author.firstName" type="text" class="form-control" id="firstname" placeholder="Enter first name">
</div>
<div class="form-group">
  <label for="lastname">Last Name</label>
  <input [(ngModel)] = "author.lastName" type="text" class="form-control" id="lastname" placeholder="Enter last name">
</div>
<button class="btn btn-primary" (click)="addAuthor()">Add Author
</button>

<div *ngIf="statusMessage" class="alert mt-3" [ngClass]="{'alert-danger': state === 'error', 'alert-primary': state === 'updating'}">
  <p>{{statusMessage}}</p>
</div>
