  {{book.authorLast}}, {{book.authorFirst | firstInitial | uppercase}}.
  <span class="title">{{book.title}}</span>
  <span *ngIf="book.publisher">({{book.publisher}})</span>
  , <span class="year">{{book.year}}</span>
