<h2>Current Books</h2>

<div *ngIf="!books">
Loading books ...
  <div *ngIf="apiError" class="alert alert-danger">
    <p>Error: {{errorMessage}}</p>
    <button class="btn btn-danger" (click)="loadBooks()">Retry</button>
  </div>
</div>

<div *ngIf="books" [ngSwitch]="books.length">
  <div *ngSwitchCase="0" class="alert alert-primary">
    There are no current books in the database.
  </div>

  <div *ngSwitchDefault>
    <div *ngFor="let b of books" class="mb-2">
      <bibentry [book]=b></bibentry> <button [routerLink]="['/edit', b.id]" class="btn btn-primary">Edit</button>
    </div>
  </div>

  <button class="btn btn-primary" routerLink="/new">Add a new book</button>
</div>
